.text-buy {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: $primary-color;
}

.Btn-Buy {
  padding: 10px 15px;
  border: solid 2px black;
  background-color: $secondary-color;
}
